/*  
// Icon Classes */

/* 
 * TODO: clean that, that's some very ugly namespace polution!!!
 */
.ribbon.icon {
	 min-width: 32px;
/*	 height: 32px;*/
 }
 
.ribbon.icon.loading {
	background-image: url("../images/opence/ribbon-ajax-loader.gif") !important;
 }

.ribbon.icon.export_pdf {
	background-image: url("../images/opence/32x32/export_pdf.png");
}
.ribbon.icon.export_excel {
	background-image: url("../images/opence/32x32/export_excel.png");
}
.ribbon.icon.export_ods {
    background-image: url("../images/opence/32x32/export_ods.png");
}
.ribbon.icon.export_csv {
	background-image: url("../images/opence/32x32/export_csv.png");
}
.icon.ribbon.email {
	background-image: url("../images/icons_fatcow/32x32/email.png");
}
.icon.ribbon.archive {
	background-image: url("../images/icons_fatcow/32x32/drawer.png");
}
.icon.ribbon.archive.view {
	background-image: url("../images/icons_fatcow/32x32/drawer+eye.png");
}
.icon.ribbon.nuke {
	background-image: url("../images/unlicensed/nuke.png");
}
.icon.ribbon.unarchive {
	background-image: url("../images/icons_fatcow/32x32/drawer_open.png");
}
	
.ico32.green_ball {
	background-image: url("../images/opence/32x32/green_ball.png") !important;
}

.b_ico_earth {
	background-image: url("../images/opence/32x32/earth.png") !important;
}
.ribbon.icon.delete {
/*	background-image: url("../images/opence/32x32/trash_full.png") !important;*/
	background-image: url("../images/opence/32x32/del.png") !important;
/*	background-image: url("../images/icons_fatcow/32x32/delete.png") !important;*/
}
.ribbon.icon.add {
	background-image: url("../images/opence/32x32/add.png") !important;
/*	background-image: url("../images/icons_fatcow/32x32/add.png") !important;*/
}
.icon.x32.add-vcard {
	background-image: url("../images/opence/32x32/add+vcard.png") !important;
}
.icon.x32.add-wand {
	background-image: url("../images/opence/32x32/add+wand.png") !important;
}
.icon.x32.add-copy {
	background-image: url("../images/opence/32x32/add+copy.png") !important;
}
.b_ico_filter {
	background-image: url("../images/icons_fatcow/32x32/filter.png") !important;
}
.b_ico_temp {
	background-image: url("../images/opence/32x32/add.png") !important;
}
.b_ico_vcard {
	background-image: url("../images/opence/32x32/vcard.png") !important;
}
.b_ico_flag {
	background-image: url("../images/opence/32x32/flag.png") !important;
}
.b_ico_user {
	background-image: url("../images/opence/32x32/user.png") !important;
}
.b_ico_donate {
	background-image: url("../images/opence/32x32/donate.png") !important;
}
.b_ico_mail {
/*	background-image: url("../images/opence/32x32/mail.png") !important;*/
	background-image: url("../images/icons_fatcow/32x32/email.png") !important;
}
.b_ico_coherence {
	background-image: url("../images/opence/32x32/coherence.png") !important;
}
.b_ico_gear {
	background-image: url("../images/opence/32x32/gear.png") !important;
}
.b_ico_green_ball {
	background-image: url("../images/opence/32x32/green_ball.png") !important;
}

.icon.ribbon.columns {
	background-image: url("../images/unlicensed/icon_columns.png") !important;
}

.icon.ribbon.help {
	background-image: url("../images/icons_fatcow/32x32/help.png") !important;
}


/* Ico Grid */
.ico {
    /* Background properties must not be merged (in single background property),
     * because that would break Ext css expectations! */
	background-repeat: no-repeat;
    background-color: transparent;
	height: 16px;
	width: 16px;
}

.ico.clickable:hover {
    cursor: pointer;
}

.x-panel-icon.ico {
    display: block;
}

.x-grouptabs-text.ico,
.x-window-header.ico {
	width: auto;
}

.ico.col {
	display: inline;
}

.ico.loading {
	background-image: url("../images/default/grid/loading.gif") !important;
}

.ico.accept {
	background-image: url("../images/icons/accept.png") !important;
}
.ico.application_view_list {
    background-image: url("../images/icons/application_view_list.png") !important;
}
.ico.application_view_tile {
    background-image: url("../images/icons/application_view_tile.png") !important;
}
.ico.archive {
	background-image: url("../images/icons_fatcow/16x16/drawer.png") !important;
}
.ico.add,
.ico_add {
	background-image: url("../images/icons/add.png");
}
.ico.arrow_left {
	background-image: url("../images/icons/arrow_left.png");
}
.ico.arrow_right {
	background-image: url("../images/icons/arrow_right.png");
}
.ico.arrow_down {
	background-image: url("../images/icons/arrow_down.png");
}
.ico.book_addresses {
	background-image: url("../images/icons/book_addresses.png");
}
.ico.cancel {
	background-image: url("../images/icons/cancel.png");
}
.ico.checkbox {
	background-image: url("../images/icons/checkbox.png");
}
.x-btn-pressed .ico.checkbox,
.ico.checkbox.ticked {
	background-image: url("../images/icons/checkbox_ticked_green.png");
}
.ico.settings,
.ico.cog {
	background-image: url("../images/icons/cog.png");
}
.ico.download {
	background-image: url("../images/icons_fatcow/16x16/download.png");
}
.ico.error {
    background-image: url("../images/icons/exclamation.png");
    color: #e63d1f;
}
.ico.eye {
	background-image: url("../images/icons/eye.png");
}
.application_form_edit {
	background-image: url("../images/icons/application_form_edit.png");
}
.ico_undo, .ico.undo,
.ico_arrow_undo {
	background-image: url("../images/icons/arrow_undo.png");
}
.ico.delete,
.ico_delete {
	background-image: url("../images/icons/delete.png");
}
.ico.flags {
	background-image: url("../images/icons/flags.png");
}
.ico.help {
	background-image: url("../images/icons_fugue/question-frame.png");
}
.ico.collapse-all {
	background-image: url("images/ext-tree-collapse-all.gif");
}
.ico.expand-all {
	background-image: url("images/ext-tree-expand-all.gif");
}
.ico.save,
.ico_disk {
	background-image: url("../images/icons/disk.png");
}
.ico_world {
	background-image: url("../images/icons/world.png");
}
.ico.box {
	background-image: url("../images/icons/box.png");
}
.ico.box.add {
	background-image: url("../images/icons/box_add.png");
}
.ico.box.delete {
	background-image: url("../images/icons/box_delete.png");
}
.ico_building {
	background-image: url("../images/icons/building.png");
}
.ico.user,
.ico_user {
	background-image: url("../images/icons/user.png");
}
.ico.reset {
    background-image: url("../images/icons/arrow_rotate_anticlockwise.png") !important;
}
.ico.table_lightning {
	background-image: url("../images/icons/table_lightning.png");
}
.ico.tick,
.ico_tick {
	background-image: url("../images/icons/tick.png");
}
.ico.tick.clickable:hover {
	background-image: url("../images/icons/cross.png");
}
.ico.tick.pressable {
	background-image: url("../images/icons/tick+gray.png");
}
.x-btn-pressed .ico.tick.pressable {
	background-image: url("../images/icons/tick.png");
}
.ico.cross,
.ico_cross {
	background-image: url("../images/icons/cross.png");
}
.ico.cross.clickable:hover {
	background-image: url("../images/icons/tick.png");
}
.ico_8ball {
	background-image: url("../images/icons/sport_8ball.png");
}
.ico_user_add {
	background-image: url("../images/icons/user_add.png");
}
.ico_bin {
	background-image: url("../images/icons/bin.png");
}
.ico_book {
	background-image: url("../images/icons/book.png");
}
.ico.find {
	background-image: url("../images/icons/find.png");
}
.ico_help {
	background-image: url("../images/icons/help.png");
}
.ico.lightning {
    background-image: url("../images/icons/lightning.png") !important;
}
.ico.lock {
	background-image: url("../images/icons/lock.png");
}
.ico.lock.open,
.ico.lock_open {
	background-image: url("../images/icons/lock_open.png");
}
.ico.lock_openable {
	background-image: url("../images/icons/lock.png");
}
.ico.lock_openable:hover {
	background-image: url("../images/icons/lock_open.png");
}
.ico.layout_content {
	background-image: url("../images/icons/layout_content.png");
}
.ico.plugin {
    background-image: url("../images/icons/plugin.png") !important;
}
.ico_male {
	background-image: url("../images/icons/male.png");
}
.ico_female {
	background-image: url("../images/icons/female.png");
}
.ico.email {
	background-image: url("../images/icons/email.png");
}
.ico.email_go {
	background-image: url("../images/icons/email_go.png");
}
.ico.play {
	background-image: url("../images/icons/control_play_blue.png");
}
.ico.play.black {
	background-image: url("../images/icons/control_play.png");
}
.ico.pdf,
.ico_pdf {
	background-image: url("../images/icons/page_white_acrobat.png");
}
.ico.edit,
.ico_edit,
.ico_pencil {
	background-image: url("../images/icons/pencil.png");
}
.ico_bullet_green {
	background-image: url("../images/icons/bullet_green.png");
}
.ico_bullet_red {
	background-image: url("../images/icons/bullet_red.png");
}
.ico_clock {
	background-image: url("../images/icons/clock.png");
}
.ico_arrow_right {
	background-image: url("../images/icons/arrow_right.png");
}
.ico_tick {
	background-image: url("../images/icons/tick.png");
}
.ico.report {
	background-image: url("../images/icons/report.png");
}
.ico.star {
	background-image: url("../images/icons/star.png");
}
.ico.star.empty {
	background-image: url("../images/icons/star_empty.png");
}
.ico.star.blue {
	background-image: url("../images/icons/star_blue.png");
}
.ico.star.green {
	background-image: url("../images/icons/star_green.png");
}
.ico_stop {
	background-image: url("../images/icons/stop.png");
}
.ico.table {
	background-image: url("../images/icons/table.png");
}
.ico_note{
	background-image: url("../images/icons/note.png");
}
.ico_arrow_inout {
	background-image: url("../images/icons/arrow_inout.png");
}
.ico.refresh {
	background-image: url("../images/icons/arrow_refresh.png");
}
.ico.reject {
	background-image: url("../images/icons/delete.png");
}
.ico.star {
	background-image: url("../images/icons/star.png");
}
.ico_telephone {
	background-image: url("../images/icons/telephone.png");
}
.ico.vcard {
	background-image: url("../images/icons/vcard.png");
}
.ico.vcard.add {
	background-image: url("../images/icons/vcard_add.png");
}
.ico.vcard.edit {
	background-image: url("../images/icons/vcard_edit.png");
}
.ico.wrench, .ico_wrench {
	background-image: url("../images/icons/wrench.png");
}

.icon-magnifier {
	background-image: url("../images/icons/magnifier.png");
}
.icon-tranches {
	background-image: url("../images/icons/timeline_marker.png");
}

/* --- Fugue Icons --- */
.fugico_arrow {
	background-image: url("../images/icons_fugue/arrow.png");
}
.x-item-disabled .fugico_arrow {
	background-image: url("../images/icons_fugue/arrow+disabled.png");
}
.fugico_arrow-180 {
	background-image: url("../images/icons_fugue/arrow-180.png");
}
.x-item-disabled .fugico_arrow-180 {
	background-image: url("../images/icons_fugue/arrow-180+disabled.png");
}
.arrow-circle-315 {
	background-image: url("../images/icons_fugue/arrow-circle-315.png");
}
.x-item-disabled .arrow-circle-315 {
	background-image: url("../images/icons_fugue/arrow-circle-315+disabled.png");
}
.fugico_question-frame {
	background-image: url("../images/icons_fugue/question-frame.png");
}
.fugico_question-balloon {
	background-image: url("../images/icons_fugue/question-balloon.png");
}


.sort-desc {
	background-image: url("../images/default/grid/sort_desc.gif") !important;
	background-position: 4px 7px !important;
}
.sort-asc {
	background-image: url("../images/default/grid/sort_asc.gif") !important;
	background-position: 4px 7px !important;
}
