RewriteEngine On

# Modules images
RewriteRule ^modules/(?:[^/]*)/_images/(.*)$	    images/$1

RewriteRule .yml$                                   php/error404.php
RewriteRule .sql$                                   php/error404.php
RewriteRule ^config(/|$)                            php/error404.php
