.x-input-money {
	text-align: right;
	font-family: monospace;
}

div.x-input-money {
	padding: 3px 3px 3px 0;
	height: 16px;
}

span.x-input-money.symbol {
	text-align: right;
	font-family: monospace;
	display: block;
	float: right;
	padding-top: 5px;
	padding-right: 2px;
	width: 10px;
}

.x-input-money-wrap.readonly span.x-input-money.symbol {
	padding-top: 3px;
}