
.img-chooser-view .thumb img.image {
	display: inline;
}
.img-chooser-view .thumb img.pdf,
.img-chooser-view .thumb img.xls,
.img-chooser-view .thumb img.csv {
	display: none;
}

.img-chooser-dlg span.mimeIcon,
.img-chooser-view .thumb span {
	width: 64px;
	height: 64px;
	margin: auto;
}
.img-chooser-view .thumb span.image {
	display: none;
}
.img-chooser-dlg span.mimeIcon.pdf,
.img-chooser-dlg span.mimeIcon.csv,
.img-chooser-dlg span.mimeIcon.xls,
.img-chooser-view .thumb span.pdf,
.img-chooser-view .thumb span.xls,
.img-chooser-view .thumb span.csv {
	display: block;
	background: url("images/mime/x-office-document-64.png") center no-repeat !important;
}

.img-chooser-dlg img.image {
	display: inline;
}
.img-chooser-dlg img.pdf,
.img-chooser-dlg img.xls,
.img-chooser-dlg img.csv {
	display: none;
}

.img-chooser-dlg span.image {
	display: none;
}


