
.img-chooser-view .thumb img.image {
	display: inline;
}
.img-chooser-view .thumb img.csv {
	display: none;
}

.img-chooser-view .thumb span {
	width: 64px;
	height: 64px;
	margin: auto;
}
.img-chooser-view .thumb span.image {
	display: none;
}
.img-chooser-view .thumb span.csv {
	display: block;
	background-image: url("images/mime/x-office-document-64.png") !important;
}



